# 编译输出
/dist

# 依赖
/node_modules

# IDE
.idea
.vscode
*.swp
*.swo

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 操作系统
.DS_Store
Thumbs.db

# 测试覆盖率
/coverage

# 临时文件
*.tmp
*.temp
.tmp
.temp

# TypeScript 缓存
*.tsbuildinfo

.npm-cache
package-lock.json